.account-tips{ float: right; background: url(/assets/images/accounttips.png) right center no-repeat; display: block; width:26px; height: 47px; margin-right: 26px; cursor: pointer; position: relative; z-index: 29;}
.account-tip-box{ position: absolute; right: -10px; top: 37px; background: url(/assets/images/accountTipBg.png) no-repeat; width: 288px; height: 96px; padding: 20px 10px 10px 10px; display: none;}
.account-tips:hover .account-tip-box{ display: block;}
.account-tip-scroll{ width: 288px; height: 96px; overflow-y: scroll;}
.account-tip-scroll p{ padding: 0 5px 8px 0; line-height: 18px; color: #666; font-size: 12px; word-wrap: break-word; word-break: break-all;}
