label { width: auto; height: 26px; line-height: 26px; padding-left: 20px; margin-right: 15px; background: url(/assets/images/radio-box/limitBg.png) no-repeat 0 0; color: #666; display: inline-block; }
label:hover,label.selected { background: url(/assets/images/radio-box/limitBg.png) no-repeat 0 -26px;}
