
.product-list li{ width: 102px; height: 235px; float: left; margin-left: 22px; margin-right: 22px;}
.download-number{ width: 100px; height: 24px; line-height: 24px; display: block; color: #d9624f; text-align: center; font-size: 12px;}
.download-number span{color: #5e5e5e;}
.product-info{ width: 100px; height: 140px; position: relative; cursor: pointer;}
.product-info:hover .book-img{ -moz-box-shadow:  0 0 12px #aaa; -webkit-box-shadow: 0 0 12px #aaa; box-shadow: 0 0 12px #aaa; }
.product-info:hover .book-title{ color: #2fadbc;}
.pdf,.epub{width: 40px; height: 40px; display: block; position: absolute; left: 1px; top: 0;}
.pdf{ background: url(/assets/images/pdf.png) no-repeat;}
.epub{ background: url(/assets/images/epub.png) no-repeat;}
.book-img{ width: 100px; height: 140px; border: 1px solid #f2efef; -moz-box-shadow:  0 0 6px #ccc; -webkit-box-shadow: 0 0 6px #ccc; box-shadow: 0 0 6px #ccc;}
.book-title{ max-height: 40px; line-height: 20px; text-align: left; margin-top: 5px; overflow: hidden; word-wrap: break-word; word-break: break-all; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; height: auto; color: #7e7e7e;}

@media only screen and (max-width: 1397px){
	.product-list{ width: 1022px; margin: 0 auto;}
}
@media only screen and (min-width: 1398px) and (max-width: 1544px) {
	.product-list{ width: 1168px; margin: 0 auto;}
}
@media only screen and (min-width: 1545px) and (max-width: 1689px) {
	.product-list{ width: 1314px; margin: 0 auto;}
}
@media only screen and (min-width: 1690px) and (max-width: 1835px) {
	.product-list{ width: 1460px; margin: 0 auto;}
}
@media only screen and (min-width: 1836px){
	.product-list{ width: 1606px; margin: 0 auto;}
}
 