
.btn-details{ width: 22px; height: 22px; display: block; background: url(/assets/images/operating-button/opraDetail.png) no-repeat; background-position: 0 0;}
.btn-details:hover{ background-position: -22px 0;} 